<h1>Articles</h1>

<ul align = center>
  <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, article %>
      </li>
  <% end %>
</ul>
<p align = center>
<%= link_to "New Article", new_article_path %>
</p>
